site_name: Sistema Operativo de Red (SOR)
theme:
  name: material
  language: es

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - toc:
      permalink: true

nav:
  - Inicio: index.md
  - Redes entre iguales (P2P): redes-entre-iguales.md
  - Estructura Cliente-Servidor: cliente-servidor.md
  - Servicios de Directorio: servicios-directorio.md
  - Protocolo LDAP: protocolo-ldap.md